{% extends "components/layout.html.twig" %}

{% block content %}
    <main>
        <h1 class="text-center mt-22 text-4xl text-blue-400 font-bold">Trouvez votre prochain livre favori</h1>
        <form action="/" method="GET" class="flex justify-center">
            <input class="w-[60%] rounded border p-1 mt-5 border-black" type="text" name="userSearch" maxlength="50" value="{{ userSearch }}">
            <button class="bg-blue-400 text-white rounded-xl text-sm p-1 mt-5 ml-2 hover:cursor-pointer hover:bg-blue-500" type="submit">Rechercher</button>
        </form>
        <div class=" mt-4 font-bold ml-[10%]">
            <p>Page:
                {{ currentPage }}
                sur
                {{ totalPages }}</p>
        </div>
        <div class="flex flex-wrap justify-center">
            {% for book in books %}
                <div class="max-w-sm rounded overflow-hidden shadow-lg m-3 relative">
                    <div class="px-6 py-4 h-full flex flex-col justify-around">
                        <div class="font-bold text-xl mb-2">
                            {{ book.titre }}
                        </div>
                        <p class="text-gray-700 text-base">
                            {{ book.synopsis }}
                        </p>
                        <div class="mt-auto">
                            <p class="text-right font-bold">
                                {{ book.prenom }}
                                {{ book.auteurNom }}
                            </p>
                        </div>
                        <div class="flex">
                            {% if book.like == 0 %}
                                <a href="modify_like{{ book.id }}"><img class="w-7 hover:cursor-pointer" src="./img/hollow_heart.png" alt=""></a>
                            {% else %}
                                <a href="modify_like{{ book.id }}"><img class="w-7 hover:cursor-pointer" src="./img/filled_heart.png" alt=""></a>
                            {% endif %}
                            {% if session.role == "admin" %}
                                <button class="hover:cursor-pointer p-1.5 ml-auto mr-2 text-white bg-green-400 rounded-md">
                                    <a href="/modify{{ book.id }}">Modifier</a>
                                </button>
                                <button class="hover:cursor-pointer p-1.5 text-white bg-red-400 rounded-md">Supprimer</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav>
            <ul class="flex justify-center py-5">
                <li class="mx-1">
                    {% if currentPage <= 1 %}
                        <a class="bg-blue-200 text-white p-2 rounded-full">Précédent</a>
                    {% else %}
                        <a class="bg-blue-400 text-white p-2 rounded-full" href="/?page={{ previousPage }}&userSearch={{ userSearch }}">Précédent</a>
                    {% endif %}
                </li>
                <li class="mx-1">
                    {% if currentPage >= totalPages %}
                        <a class="bg-blue-200 text-white p-2 rounded-full">Suivant</a>
                    {% else %}
                        <a class="bg-blue-400 text-white p-2 rounded-full" href="/?page={{ nextPage }}&userSearch={{ userSearch }}">Suivant</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </main>

{% endblock %}
